# LaTeX 编译中间文件
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.bcf
*.run.xml
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg

# VS Code：团队共享 settings.json，忽略个人配置
.vscode/*
!.vscode/settings.json

# 操作系统
Thumbs.db
.DS_Store
